<div class="card filters">
  <div class="card-header">
    <strong>Filters</strong>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from">Form</label>
        <input type="number" class="form-control" id="from">
      </div>
      <br>
      <div class="form-group">
        <label for="to">To</label>
        <input type="number" class="form-control" id="to">
      </div>
      <br>
      <button class="btn btn-primary btn-block btn-sm">Filter by Price</button>
    </form>
  </div>
</div>

